@charset "utf-8";
html,body { font-size:62.5% !important;}
header{height: 4rem;border: 1px solid #ddd;line-height: 4rem;}
header>div{display: inline-block;text-align: center;}
header .back{color: #24ac9d;text-align: center}
header .header-left a{display: inline-block;width: 100%;height: 100%;position: relative;top: 1.2rem;font-size: 1.6rem;}